.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# NML Cache
.nmlcache/*

# Temporary folder where nml file is generated if using cc.bat
tmp/*

# Output folder where final file is created if using cc.bat
out/*